*.log
.config/nvim/repos/*
.config/filezilla/*
.config/tmuxinator/*.yml
!.config/tmuxinator/sample*
.config/configstore/*.json
.config/karabiner/automatic_backups/*.json
.config/hub
.config/gh
!.tabnineignore

.bash/completion/*.bash
.config/exercism/user.json
.config/nvim/pack/
.config/nvim/sample/
.config/xbuild
.config/stetic
.config/Hyper/plugins/
.config/flutter/
.config/github-copilot/
.config/iterm2/
.config/jgit/
.config/op/

.config/zed/*
!.config/zed/*.json

.vscode/extensions/
.vscode/argv.json

.bash/works
.bash/100_pc.rc
!.bash/works/.gitkeep
!.bash/works/bin/.gitkeep
.bash/completion.d/_*
