[user]
  email = t.fum1hum@gmail.com
  name = fumihumi
[core]
  excludesfile = $HOME/.gitignore
  trailing-space = false
  space-before-tab = false
  ignorecase = false
  precomposeunicode = true
  quotepath = false
[alias]
  empty = !git commit --allow-empty -m 'empty commit'
  graph = log --graph --date=short --decorate=short --pretty=format:'%Cgreen%h %Creset%cd %Cblue%cn %Cred%d %Creset%s'
  pop = stash pop
  dif = diff
  named-stash = ! git stash save
  s = status
  ch = checkout
  cb = checkout -b
  b = branch
  D = branch -D
  A = add -A
  c = commit
  current-branch = symbolic-ref --short HEAD
  current = rev-parse --abbrev-ref HEAD
  copy-branch = ! git current | tr -d '\n' | pbcopy
  cu = rev-parse --abbrev-ref HEAD
  n = diff --name-only
  diff-file-name = ! git diff master --name-only
  original-diff = ! git -c core.pager=less diff
  original-show = ! git -c core.pager=less show
  force-pull = !git fetch && git reset --hard origin/$(git current-branch)
  unshallow = !git fetch --unshallow
  unshallow-config = !git config remote.origin.fetch "+refs/heads/*:refs/remotes/origin/*"
  show-branch-root = merge-base master HEAD
  pbcopy = !printf "$1" | pbcopy
  fp-push  = ! git push -u origin $(git current) --force-with-lease --force-if-includes
  heroku-push-current = ! git push heroku +HEAD:master
  set-remote = ! git branch --set-upstream-to=origin/$(git current-branch) $(git current-branch)
  fixup = "!f () { git rebase -i HEAD~$1;};f"
  fixit = "! git commit --amend --no-edit"
  tmp= ! git commit -m 'tmp!'
  wip= ! git add -A && git commit -n -m '[ci skip] wip!'
  rebase-root= ! git pull --rebase origin master
  zip = !git archive --format=zip HEAD > `git symbolic-ref --short HEAD`.zip
  amend="! git commit --amend"
  last="! git show HEAD"
  list-untracked-file="!git ls-files --others --exclude-standard"
  delete-merged-branches = "!f () { git branch --merged | egrep -v '\\*|master|develop' | xargs git branch -d; }; f"
  alias = ! git config --get-regexp alias | sed -e s/^alias\\.// -e s/\\ /\\ =\\ /
  summary= ! git log --oneline --pretty=format:'%h [%cd] %d %s <%an>' --date=format:'%Y%m%d' | grep `date +%Y%m%d` | wc -l
  default-branch="! git remote show origin | grep 'HEAD branch' | cut -d ':' -f 2"
  latest-message="! git log -n 1 --pretty=format:'%s'"
  conflicts="!git ls-files -u | cut -f 2 | sort -u"
  refresh-remote="!git config remote.origin.fetch '+refs/heads/*:refs/remotes/origin/*'"
  fixup = "!f () { git rebase -i HEAD~$1;};f"
  short-diff="!f() { git log --no-merges origin/$1..origin/$2 --pretty=format:'%an:%h:%ad %s' --date=short; };f"
  recent="!f() { gh pr list --search \"created:>=`date -v-1d +%Y-%m-%d`\"; };f"
  pr-review="!f() { gh pr list --search 'is:open user-review-requested:@me';};f"
  pr-review-fzf="!f() { git pr-review | fzf | awk '{print $1}' | xargs gh pr view --web; };f"
  pr-review-link="! gh pr list --search 'is:open user-review-requested:@me' --json title,url --template '{{range .}}{{.title}}: {{.url}}\n{{end}}'"
  my-pr = "!gh pr list --search 'is:open' --state open --author @me --draft=false --json title,url --template '{{range .}}{{.title}}: {{.url}}\n{{end}}'"
  prs="!f() { gh pr list --search \"is:open label:$1\"; }; f"
	merged-branch = !bash -c 'git branch --merged | grep -vE \"^\\*|$GIT_IGNORE_BRANCH_LIST\"'
	prune-merged-branch = !bash -c 'git branch --merged | grep -vE \"^\\*|$GIT_IGNORE_BRANCH_LIST\" | xargs -r git branch -d'
  wcd = "!f() { echo \"Use: cd \\\"$(git wcd-path $1)\\\"\"; }; f"
  wcd-path = "!bash -c 'exec git-wcd \"$@\"' --"
  wl = "! gwq list"

[color]
  ui = auto
  diff = auto
  status = auto
  branch = auto
[push]
  default = current
[pull]
  default = current
  rebase = true
  prune = true
[diff]
  renames = true
  # tool = nvimdiff
  tool = sdiff
  colorMoved = dimmed-zebra
  colorMovedWS = allow-indentation-change

[merge]
  log = true
  tool = nvimdiff
  conflictStyle = zdiff3
[core]
  quotepath = false
  excludesfile = ~/.gitignore_global
  editor = nvim
  safecrlf = true
  pager = delta

[difftool "nvimdiff"]
  cmd = "nvim -R -d -c \"wincmd l\" -d \"$LOCAL\" \"$REMOTE\""
[mergetool "nvimdiff"]
  keepBackup = false
  cmd = "nvim -d -c \"4wincmd w | wincmd J\" \"$LOCAL\" \"$BASE\" \"$REMOTE\" \"$MERGED\""
  trustExitCode = true
[commit]
  template = ~/.git_commit_template
  verbose = true
[rebase]
  autostash = true
	autosquash = true
	abbreviateCommands = true
[ghq]
  root = ~/Repositories
[fetch]
  prune = true
[interactive]
  diffFilter = delta --color-only
[include]
  path = ~/.gitconfig_work
[branch]
	sort = authordate

[secrets]
	providers = git secrets --aws-provider
	patterns = (A3T[A-Z0-9]|AKIA|AGPA|AIDA|AROA|AIPA|ANPA|ANVA|ASIA)[A-Z0-9]{16}
	patterns = (\"|')?(AWS|aws|Aws)?_?(SECRET|secret|Secret)?_?(ACCESS|access|Access)?_?(KEY|key|Key)(\"|')?\\s*(:|=>|=)\\s*(\"|')?[A-Za-z0-9/\\+=]{40}(\"|')?
	patterns = (\"|')?(AWS|aws|Aws)?_?(ACCOUNT|account|Account)_?(ID|id|Id)?(\"|')?\\s*(:|=>|=)\\s*(\"|')?[0-9]{4}\\-?[0-9]{4}\\-?[0-9]{4}(\"|')?
  patterns = (\"|')?RSA PRIVATE KEY(\"|')?
	allowed = AKIAIOSFODNN7EXAMPLE
	allowed = wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
