# shell completion
# docker fzf
if [ -f "$GHQ_ROOT/github.com/kwhrtsk/docker-fzf-completion/docker-fzf.bash" ]; then
  source "$GHQ_ROOT/github.com/kwhrtsk/docker-fzf-completion/docker-fzf.bash"
fi
if command -v gw >/dev/null 2>&1; then
  eval "$(gw init bash)"
fi
source <(bt-manage completion bash)
source <(phantom completion bash)
source <(pnpm completion bash)
source <(gwq completion bash)

eval "$(git-wt --init bash)"
