export PATH=$PATH:$HOME/.local/bin

export FZF_COMPLETION_TRIGGER="," # default: '**'
export GO111MODULE=on

export GIT_IGNORE_BRANCH_LIST='^master|develop|main$'

export PATH="$HOME/.local/share/mise/shims:$PATH"

export PATH="$HOME/.cargo/bin:$PATH"
