export PATH=$PATH:$HOME/.local/bin

export ANDROID_SDK_ROOT="/usr/local/share/android-sdk"
export ANDROID_HOME=$HOME/Library/Android/sdk
export PATH=$PATH:$ANDROID_HOME/emulator
export PATH=$PATH:$ANDROID_HOME/tools
export PATH=$PATH:$ANDROID_HOME/platform-tools

export FZF_COMPLETION_TRIGGER="," # default: '**'
export GO111MODULE=on

export GIT_IGNORE_BRANCH_LIST='^master|develop|main$'

export PATH="$HOME/.local/share/mise/shims:$PATH"

export PATH="$HOME/.cargo/bin:$PATH"
